@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
.App {
  text-align: center;
  width: 90%;
  max-width: 1400px;
}
.sidebar {
position: absolute;
width: 237px;
height: 1234px;
left: -8.5px;
top: -9.07px;
background: #FAFBFD;

}

.sidebar h3{
  position: absolute;
  width: 114px;
height: 20px;
left: 48px;
top: 38px;

font-family: Poppins;
font-style: normal;
font-weight: 600;
font-size: 13px;
line-height: 19px;
}

.sidebar ul{
  list-style: none;
  position: absolute;
  top: 145px;
  left: 38px;
  text-align: left;

}

.sidebar ul li{
margin: auto;
height: 20px;
font-family: Noto Sans JP;
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 20px;
margin-top: 45px;
color: #9E9E9E;

}
.App h1{
   width: 93px;
  font-family: 'Poppins', sans-serif;
  color: #4F4F4F;
font-style: normal;
font-weight: 500;
font-size: 24px;
line-height: 36px;
  text-align: left;
  margin-left: 320px;
  margin-top: 53px;
  margin-bottom: 0%;
}
.row1{
  margin-top: 30px;
  display: flex;
  width:100px;
  margin-left: 320px;
}

.row1 div:nth-child(2){
  margin-left: 155px;
}

.row{
  margin-top: 58px;
  display: flex;
  width:100px;
  margin-left: 320px;
}

.row div:nth-child(2){
  margin-left: 155px;
}


